<div class="card m-3 w-50 mx-auto">
    <div class="card-body text-center">
      <p class="card-text">Votes: {{ article.votes }}</p>
      <p class="card-text">Title: {{ article.title }}</p>
      <p class="card-text">Link: {{ article.link }}</p>
      <div class="btn-group">
        <button class="btn btn-success" (click)="voteUp()">Vote Up</button>
        <button class="btn btn-danger" (click)="voteDown()">Vote Down</button>
        <button class="btn btn-warning" (click)="deleteArticle(article.id)">Delete</button>
        <button class="btn btn-primary" (click)="showForm = !showForm">Update</button>
      </div>
      <form class="m-3" *ngIf="showForm">
        <div class="form-group m-3">
          <input name="updateTitle" type="text" class="form-control" placeholder="Title" #title>
        </div>
        <div class="form-group m-3">
          <input name="updateLink" type="text" class="form-control" placeholder="Link" #link>
        </div>
        <button class="btn btn-primary m-3" (click)="updateArticle(article, title, link)">Update</button>
      </form>
    </div>
</div>

