html{
    width: 300px;
}

div{
    text-align: center;
    width: 300px;
    border: 1px solid black;
    margin: 30px auto;
    padding: 20px;
    border-radius: 5px;
    display: block;
}

button{
    color:#fff;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    transform: scale(1.1);
}


.up{
    background-color: green;
}

.down{
    background-color: red;
}

.up:hover{
    background-color: #fff;
    color: green;
    font-weight: 700;
}

.down:hover{
    background-color: #fff;
    color: red;
    font-weight: 700;
}